 
 .for-gaming__items {
     display: flex;
     justify-content: space-between;
     gap: 10px;
     margin-bottom: 100px;

 }

 .game-card {
     background-color: #252A2C;;
     width: 100%;
     cursor: pointer;
     padding-bottom: 10px;
 }
 .game-card:hover{
    background: #7858F1;
    transition: all 0.3s ease;
 }

.game-column{
    max-height: 1000px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
 .for-gaming-column-1 {
     display: flex;
     flex-direction: column;
     gap: 10px;
     
 }

 .for-gaming-column-2 {
     display: flex;
     gap: 10px;
     height: 40%;
 }

 .for-gaming-column-3 {
     display: flex;
     flex-direction: column;
     gap: 10px;
 }

 .game-card1 {
     height: 60%;
 }

 .game-card2 {
     height: 40%;
 }

 .game-card3 {
     height: 100%;
 }

 .game-card4 {
     height: 100%;
 }

 .game-card5 {
     height: 60%;
 }


 .game-card-items {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: space-between;
     height: 100%;
     gap: 10px;
     padding: 16px 16px 24px 16px;
 }

 .game-card-items__img {
     width: 90%;
     height: 80%; 
 }
 

 .game-card-items__text {
     font-family: "Gotham";
     font-weight: 500;
     font-size: 24px;
     text-align: center;
     color: #fff;
 }

 @media(max-width:950px) {
    .game-card1 {
            height: 60%;
        }
    .game-card1 img{
            height: 85%;
            width: 75%;
            
        }

    .game-card4 img{
            height: 70%;
            width: 100%;
            
        }
    .for-gaming__items {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        .for-gaming-column-1 {
            display: flex;
            flex-direction: row;
            gap: 10px;

        }
        .game-card1,.game-card2,.game-card3,.game-card4,.game-card6{
            aspect-ratio: 10 / 8;
        }
 }

 @media(max-width:550px) {
        .for-gaming-column-1,
        .for-gaming-column-2 {
        flex-direction: column;
    }
        .game-card1,
        .game-card2,
        .game-card3,
        .game-card4,
        .game-card5,
        .game-card6 {
            aspect-ratio: 9 / 8;
            padding-bottom: 0px;
        }
        .game-card-items__img {
            width: 100%;
            height: 70%;
        }
               
                
 }
