
.hero {
    margin-top: 40px;
}


.hero-container{
    max-width: 100%;
    max-height: 650px;    
    background: #2F3133;
    border-radius: 16px;
    padding-left: 40px;
    padding-right: 50px;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.slide{
    display: flex;
        align-items: center;
        gap: 20px;
        max-width: 100%;
}

.hero-items__img{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
}

.wrapper-img{
    max-width: 80%;
    display: flex;
    align-items: center;
}

.hero-items__text {
    font-family: 'Gotham';
}

.hero-items__title {
    font-size: 68px;
    font-weight: 400;
    max-width: 490px;
    letter-spacing: -2px;
    color: #fff;
}

.hero-items__subtitle {
    font-size: 68px;
    font-weight: 400;
    letter-spacing: -2px;
    color: #fff;
    border-radius: 16px;
    background: #7858F1;
    padding: 8px 24px;
    width: 450px;
}
.bullets-position {
    margin: 0 auto;
    position: relative;
    margin-top: 40px;
}

.swiper-pagination {
    position: absolute;
    margin-top: 40px;
    left: 0;
    width: 100%;
}

.swiper-pagination-bullets {
    --swiper-theme-color: #F97988;
    color: var(--swiper-theme-color);

}
@media(min-width:1366px){
  .hero-container {
        height: 600px;
    }
}

@media(max-width:1550px) {
    .hero-container {
        height: 500px;
    }
}
@media(max-width:1367px){
  .hero-container {
        height: 480px;
    }
    .hero-items__title {
        font-size: 50px;
    }

    .hero-items__subtitle {
        font-size: 50px;
        width: 330px;
    }
}

@media(max-width:800px){
    .hero {
        margin-top: 20px;
    }
  .hero-container {
        height: 320px;
    }

     .hero-items__title {
         font-size: 45px;
     }  
     .hero-items__subtitle {
         font-size: 45px;
         width: 320px;
     }
    .hero-items__img {
     width: 270px;
    }
}
@media(max-width:700px){
  .hero-container {
        padding-left: 10px;
    }

     .hero-items__title {
         font-size: 40px;
     }  
     .hero-items__subtitle {
         font-size: 40px;
         width: 270px;
     }
    .hero-items__img img {
        width: 100%;
    }
    .hero-items__img {
        width: 250px;
    }
}
 
@media(max-width:575px){
    .hero {
            margin-top: 10px;
        }
        .wrapper-img{
            max-width: 100%;
        }
    .hero-items__img {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .hero-container {
        height: 540px;
            padding: 0;
        }
    .slide {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hero-items__text {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .hero-items__title {
        padding: 0px;
        margin-top: 20px;
        width: 90%;
        font-size: 40px;
    }
    .hero-items__subtitle {
        max-width: 300px;
        margin-bottom: 20px;
        font-size: 35px;
        width: 250px;
    }
    .hero-items__img img{
        width: 100%;
    }
} 
@media(max-width:475px) {
    .hero-container {
        height: 480px;
        padding: 0;
    }
}
@media(max-width:350px) {
    .hero-container {
        height: 390px;
        padding: 0;
    }
}



