 .home-office{
    margin-top: 120px;
    /* height: 2000px; */
 }
 
.home-office__items{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 100px;
}
.card {
    background-color: #F5F4F4;
    width: 100%;
    cursor: pointer;
}


.home-column-1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.home-column-2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.home-column-3 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card1 {
    height: 60%;
    background: #4FB7F6;
}

.card2 {
    height: 40%;
}

.card3 {
    height: 60%;
}

.card4 {
    height: 40%;
}

.card5 {
    height: 40%;
}

.card6 {
    height: 60%;
}


.card-items{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    gap: 10px;
    padding: 16px 16px 24px 16px;
}
.card-items__img{
    width: 100%;
    height: 90%;
}
.card-items__text{
    font-family: "Gotham";
    font-weight: 500;
    font-size: 24px;
    text-align: center;
}

@media(max-width:950px){
    .home-office__items {
        display: block;
    }
    .home-column-1, .home-column-2{
        display: flex;
        justify-content: center;
        flex-direction: row;
        gap: 10px;
    }
    .home-column-3{
        flex-direction: row;
        justify-content: center;
    }
    .card1, .card2, .card3, .card4,.card5,.card6{
        aspect-ratio: 10 / 9;
        margin-bottom: 10px;
        background: #F5F4F4;
    }

}

@media(max-width:550px) {
    .home-column-1,
    .home-column-2 {
        align-items: center;
        flex-direction: column;
        gap: 0;
    }

    .home-column-3 {
        flex-direction: column;
        align-items: center;
        gap: 0;
    }
    .card img{
        height: 75%;
    }
    }


