.top-product {
    margin-top: 120px;
    margin-bottom: 120px;
}

.top-products__cards {
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
}

.top-product-card {
     border-radius: 8px;
    box-shadow: 0px 2px 8px 0px rgba(51, 62, 72, 0.16);
    display: flex;
    max-width: 375px;
    height: initial;
}

.card-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
    width: 100%;
}

.top-product-img {
    width: 100%;
}
.img-heigth{
    margin-bottom: 6px;
}
.top-product-img img{
    margin-top: 10px;
    width: 100%;
    border-radius:8px 8px 0 0 ;
}

.top-product-text {
    font-family: Arial;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.4px;
    padding: 24px 16px 16px 16px;
    max-width: 90%;
}


@media(max-width:1120px){

}
@media(min-width:1000px){
     .top-product-card{
        flex-basis: 307px;
        flex-shrink: 1;
    }
    .top-products__cards {
        gap: 16px;
    }
    
}

@media(max-width:1000px){
    .card-item {
        height: 100%;
    }
    
    
}
@media(max-width:550px){
    .top-product {
        margin-top: 280px;
    }
}
@media(max-width:450px){
    .top-product {
        margin-top: 100px;
        margin-bottom: 80px;
    }
}
@media(max-width:350px){
    .top-product {
        margin-top: 0px;
    }
}